<div class="container my-4">
    <h3>{{title}}</h3>

    <button type="button" class="btn btn-primary" (click)="setOpen()">Crear Solicitud</button>
    <div class="col">
        <app-solicitudes [solicitudes]="solicitudes" (idSolicitudEventEmitter)="removeSolicitud($event)"
            (selectdSolicitudEventEmitter)="setSelectedSolicitud($event)" />
    </div>
    <!-- 
    @if (open) { -->


    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <solicitud-form [usuarios]="usuarios" [medicamentos]="medicamentos"
                            [solicitud]="solicitudSelected" (solicitudEventEmitter)="addSolicitud($event)"
                            (cancelEvent)="closeForm()" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <!-- } -->

</div>