
                <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" class="card">

                    <div class="alert alert-info">
                        <p class="text-center">
                            <label for="medicamento">Crear Nueva Solicitud</label>
                        </p>
                        <div>
                            <label for="medicamento">Seleccione un Medicamento:</label>
                            <select class="form-select form-select-sm" [(ngModel)]="medicamentoSeleccionado"
                                name="medicamentoSeleccionado" (ngModelChange)="onMedicamentoChange()" required
                                #medicamentoNgModel="ngModel">
                                <option [ngValue]="null">-- Seleccione --</option>
                                @for (medicamento of medicamentos; track medicamento.id) {
                                <option [ngValue]="medicamento">{{ medicamento.nombre }}</option>
                                }
                            </select>
                            @if (medicamentoNgModel.invalid && (medicamentoNgModel.dirty || medicamentoNgModel.touched))
                            {
                            <div class="text-danger">Medicamento es requerido</div>
                            }
                        </div>
                        <div>
                            <label for="usuario">Seleccione un Usuario:</label>
                            <select class="form-select form-select-sm" [(ngModel)]="usuarioSeleccionado"
                                name="usuarioSeleccionado" (ngModelChange)="onUsuarioChange()" required
                                #usuarioNgModel="ngModel">
                                <option [ngValue]="null">-- Seleccione --</option>
                                @for (usuario of usuarios; track usuario.id) {
                                <option [ngValue]="usuario">{{ usuario.username }}</option>
                                }
                            </select>
                            @if (usuarioNgModel.invalid && (usuarioNgModel.dirty || usuarioNgModel.touched)) {
                            <div class="text-danger">Usuario es requerido</div>
                            }
                        </div>
                    </div>

                    <div>
                        <div>
                            <input placeholder="N Orden" name="numeroOrden" [(ngModel)]="solicitud.numeroOrden" required
                                class="form-control my-2" #numeroOrden="ngModel">

                            @if (numeroOrden.invalid && (numeroOrden.dirty || numeroOrden.touched)) {
                            @if(numeroOrden.errors!['required']){
                            <div class="text-danger">
                                El numeroOrden es requerido
                            </div>
                            }
                            }
                        </div>

                        <div>
                            <input placeholder="direccion" name="direccion" [(ngModel)]="solicitud.direccion" required
                                class="form-control my-2" #direccion="ngModel">

                            @if (direccion.invalid && (direccion.dirty || direccion.touched)) {
                            @if(direccion.errors!['required']){
                            <div class="text-danger">
                                El direccion es requerido
                            </div>
                            }
                            }
                        </div>
                        <div>
                            <input placeholder="telefono" name="telefono" [(ngModel)]="solicitud.telefono" required
                                class="form-control my-2" #telefono="ngModel">
                            @if (telefono.invalid && (telefono.dirty || telefono.touched)) {
                            @if(telefono.errors!['required']){
                            <div class="text-danger">
                                El telefono es requerido
                            </div>
                            }
                            }
                        </div>
                        <div>
                            <input placeholder="Email" name="email" [(ngModel)]="solicitud.correo"
                                class="form-control my-2" type="email" required email #email="ngModel">
                            @if (email.invalid && (email.dirty || email.touched)) {
                            @if(email.errors!['required']){
                            <div class="text-danger">
                                El email es requerido
                            </div>
                            }
                            @if(email.errors!['email']){
                            <div class="text-danger">
                                El email no tiene formato correcto!
                            </div>
                            }
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-3 mt-4">
                        <!-- Botón Crear -->
                        <button
                            class="btn btn-success fw-bold d-flex align-items-center justify-content-center gap-2 w-fixed"
                            type="submit" [disabled]="userForm.invalid">
                            <i class="bi bi-check-circle-fill"></i>
                            {{(solicitud.id > 0)? 'Actualizar': 'Crear'}}
                        </button>
                        <!-- Botón Limpiar -->
                        <button type="button"
                            class="btn btn-outline-secondary fw-semibold d-flex align-items-center justify-content-center gap-2 w-fixed"
                            (click)="onClear(userForm)">
                            <i class="bi bi-arrow-clockwise"></i>
                            Limpiar
                        </button>
                        <!-- Botón Cancelar SIEMPRE ROJO -->
                        <button type="button"
                            class="btn btn-danger fw-bold d-flex align-items-center justify-content-center gap-2 w-fixed"
                            (click)="onCancel(userForm)">
                            <i class="bi bi-x-circle-fill"></i>
                            Cancelar
                        </button>
                    </div>
                </form>
