@if (solicitudes.length == 0) {
<div class="alert alert-warning">No hay registros en el sistema!</div>
} @else {
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>N Solicitud</th>
            <th>Medicamento</th>
            <th>Pos</th>
            <th>Cantidad</th>
            <th>Numero de Orden</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Fecha de Creacion</th>
            <th>Remove</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @for (solicitud of solicitudesPaginadas; track $index) {
        <tr>
            <td> {{solicitud.id}} </td>
            <td> {{solicitud.medicamento.nombre}} </td>
            <td> {{solicitud.medicamento.esNoPos? '✅' : '❌'}} </td>
            <td> {{solicitud.medicamento.cantidad}} </td>
            <td> {{solicitud.numeroOrden}} </td>
            <td> {{solicitud.direccion}} </td>
            <td> {{solicitud.telefono}} </td>
            <td> {{solicitud.correo}} </td>
            <td> {{solicitud.fechaCreacion}} </td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="onRemoveSolicitud(solicitud.id)">
                    remove
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-sm" (click)="onSelectedSolicitud(solicitud)">                  
                    
                    Update
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">

        <!-- Botón "Anterior" -->
        <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
                Anterior
            </button>
        </li>

        <!-- Números de página dinámicos -->
        <li class="page-item" *ngFor="let page of getVisiblePages()" [class.active]="page === currentPage">
            <button class="page-link" (click)="goToPage(page)">
                {{ page + 1 }}
            </button>
        </li>

        <!-- Botón "Siguiente" -->
        <li class="page-item" [class.disabled]="currentPage + 1 >= totalPages">
            <button class="page-link" (click)="goToPage(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">
                Siguiente
            </button>
        </li>

    </ul>
</nav>



}